body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(bg.webp);
    background-size: cover;
    font-family: sans-serif;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-wrapper {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.input-group input:focus {
    border-color: #333;
}

button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

button:hover {
    background: #555;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-buttons button {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: auto;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: auto;
}

.social-buttons button:hover {
    background: #eee;
}

.social-buttons img {
    width: 70px;
    height: auto;
    margin-right: 5px;
}

.register-link {
    display: block;
    color: #333;
    text-decoration: none;
    margin-top: 10px;
}